/* General Styles */
:root {
  --primary-color: #CBE3DB;
  --secondary-color: #3BC38E;
  --gray-color: #9E9E9E;
  --dark-color: #2e4b1f;
  --pink-color: #FFD7EF;
  --lightblue-color: #A0E1E1;
  --beige-color: #FFC091;
  --transition-time: 5s;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Istok Web", sans-serif;
  list-style-type: none;  
}

a {
  text-decoration: none;
  font-weight: 600;
}

/* Header Styles */
.header {
  border-bottom: 2px solid black;
}

.log-bar {
  position: fixed;
  background-color: white;
  width: 100%;
}

.log-bar header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 65px;
  height: 101px;
}

/* Navigation Styles */
.navbar ul {
  display: flex;
  gap: 60px;
  margin: 10px 95px;
}

.navbar a {
  color: black;
}

li a + a {
  background-color: var(--secondary-color);
  color: white;
  border: 2px var(--secondary-color) solid;
  border-radius: 20px;
  padding: 10px;
}

li :first-child {
  color: black;
  border: 2px var(--secondary-color) solid;
  border-radius: 20px;
  padding: 10px 15px;
}

/* Home Styles */
.home-img {
  width: 100%;
  height: 100vh;
  background-image: url('img/image10.png');
  background-size: cover;
}
.home-img img{
  width: 7em;
} 
.home-img{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.home-img a {
  color: white;
  background-color: black;
  border-radius: 20px;
  padding: 10px;
}

/* Footer Styles */
.footer {
  width: 100%;
  height: 530px;
  display: grid;
  grid-template-columns:repeat(24,1fr);
  grid-template-rows: repeat(8,1fr);
  column-gap: 20px;
  row-gap: 20px;
}

footer h3 {
  font-size: 36;
  font-weight: bold;
  margin-bottom: 0;
}

.support {
  grid-column: 2/6;
  grid-row: 1/6;
}

.news {
  grid-column: 8/11;
  grid-row: 1/7 ;
}

.about-us {
  grid-column: 14/17;
  grid-row: 1/6;
}

.social {
  grid-column: 20/24;
  width: 50px; 
  height: 50px;
}

.support , .news , .about-us , .social {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.apple , .netflix {
  display: flex;
  gap: 15px;
  padding-top: 10px;
}

/* Home Styles */
.home {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.home-image {
  position: relative;
  background-color: var(--dark-color);
  height: 100%;
}

.home img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity var(--transition-time);
}

.home img:nth-child(1) {
  animation: fade 12s infinite;
}

.home img:nth-child(2) {
  animation: fade 12s 4s infinite;
}

.home img:nth-child(3) {
  animation: fade 12s 8s infinite;
}

@keyframes fade {
  0%, 20% {
    opacity: 1;
  }
  25%, 95% {
    opacity: 0;
  }
}

.home-text {
  padding: 20%;
}

.product-overlay h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 3%;
  font-size: 5rem;
  color: white;
  width: 100%;
  text-align: center;
  font-family: volkhov;
}

.product-overlay h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 21%;
  font-size: 1.5rem;
  color: white;
  width: 100%;
  text-align: center;
  font-family: Martian Mono;
}

.product-overlay p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 31%;
  font-size: 1.2rem;
  color: white;
  width: 80%;
  text-align: center;
  
  font-family: inter;
}

.home .bullets {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 20px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

.home .bullet {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--gray-color);
  cursor: pointer;
}

.home .bullet.active {
  background-color: white;
  transform: scale(1.5);
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  transition: background-color 0.3s ease;
}

.product-top h3 {
  margin: 0;
  color: var(--bg-color);
  font-family: inter;
}

.h2-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 0; 
}

.add-btn {
  margin-top: 270px;
  padding: 10px 20px; 
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.add-btn:hover {
  
  transform: scale(1.05);
}

.explore-btn {
  margin-top: 40px;
  padding: 10px 20px 10px; 
  width: 150px;
  background-color: black;
  color: white;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.y-us-btn {
  margin-top: 400px;
  margin-left: 50px;
  padding: 10px 30px ; 
  width: 250px;
  background-color: white;
  
  border-radius: 50px;
  transition: all 0.3s ease;
  font-size: 600;
  display: flex;
  justify-content: center;
  
}

.y-us-btn a {
  font-size: 600;
  font-size: 22px;
  color: black;
}

.explore-btn a {
  padding: 10px 20px 10px; 
  width: 150px;
  color: white;
  font-size: 5px;
}

.explore-btn:hover {
  transform: scale(1.1);
}

.moving-box {
  margin-top: 150px;
  padding: 10px 20px; 
  background-color: white;
  color: black;
  border-color: white;
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.moving-box:hover {
  
  transform: scale(1.05);
}

.savings-container {
  border:2px solid white;
  border-radius: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

.savings-container p {
  padding: 200px;
  font-weight: bold;
  font-size: 25px;
  font-family: isktop web;
  
}

.icons {
  width: 90%;
  height: 50px;
  display: flex;
  cursor: pointer;

}

.icons:hover {
  transform: scale(1.05);
  
}

.about-add {
  display: flex;
  padding-top: 100px;
  padding-left: 30px;
}

.text-about-add {
  padding: 200px 100px 0 100px;
}

.text-about-add h1 {
  font-family: volkhov;
  font-size: 40px;
  padding-bottom: 60px;
}

.text-about-add a {
  font-family: volkhov;
  font-size: 10px;
}

/* Features Section */
.features {
  padding: 1rem 0 1rem 0;
  top: 10%;
  
}

.feature-cards {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  
  
}


.feature-card {
  flex: 1;
  min-width: 250px;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.311);
  border-radius: 25px;
  border-color: black;
  border: 8px solid rgba(0, 0, 0, 0.395);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  
}

.feature-card-mobile {
  /* flex: 1; */
  padding: 10px;
  display: none;
  width: 200px;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.dot {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #4CAF50;
}

.navbar-mobile .menu-hamburger {
  display: none;
  position: relative;
  width: 80px;
  margin: 10px 15px 0 15px;
}
.contact-icon{
  display: none;
}
.nav-links ul {
  display: flex;
}

.notre-plateforme {
  display: none;
  position: relative;
  width: 80px;
  margin: 10px 15px 0 15px;
}

.mobile-text {
  display: none;
}
.y-us-btn{
  display: none;
}
.netflix-logo {
  width: 40px; /* Ajustez la largeur selon vos besoins */
  height: 50px; /* Conserver le ratio d'aspect de l'image */
}

.netflix-description {
  margin-right: 0; 
  padding-right: 0;
  right: 0;
  
}
p.netflix-description{
  margin-right: 0; 
  padding-right: 0;
  right: 0;
}


@media screen and (max-width: 412px) {
  .body-body {
    height: 165vh;
    width: 100%;
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
  }
.contact-icon{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  padding-left: 350px;
}
.contact-icon img{
  width: 50px;
  height: 50px;
}
  .log-bar {
    display: none;
  }

  .mobile-text {
    left: 6%;
    right: 5%;
    display: block;
    position: absolute;
    top: 20%;
  }

  .mobile-text h1 {
    font-weight: 600;
    color: white;
    font-family: inter;
    font-size: 28px;

  }

  .mobile-text h3 {
    font-weight: 600;
    color: white;
    font-family: inter;
    font-size: 18px;

  }
  .y-us-btn{
    display: block;
  }

  .notre-plateform p {
    display: block;
    /* width: 80px; */
    margin: 10px 15px 0 15px;
    position: absolute;
    top: 10%;
    margin: 20px;
    padding: 5px;
    width: 90vw;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #133628 , #87F3C7);
    
   border-radius: 60px;
   font-family: inter;
   font-size: 500;
   color: white;
  }

  .navbar-mobile .menu-hamburger {
    display: block;
    width: 50px;
    height: 50px;
    
  }

  .navbar-mobile {
    position: absolute;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    box-sizing: border-box;
    background-color: white;
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); */
   border-radius: 60px;
  }

  .navbar-mobile img {
    width: 100px;
    height: 70px;
  }

  /* .home-img {
    width: 100%;
    height: 100vh;
    background-color: ;
  } */

  .nav-links {
    background-color: #38A28C ;
    backdrop-filter: blur(7px);
      width:100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -100%;
      transition: all 0.5 ease;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;      
  }

  .nav-links a {
    border: none;
  }

  .nav-links ul li {
    padding: 25px 0;
    font-size: 1.2em;
    font-family: istok web;
  }

  .nav-links .mobile-menu {
    margin-left:0;
  }

  .footer {
    position: absolute;
    width: 100%;
    height: 400px;
    row-gap: 2px;
    column-gap: 2px;
    background-color: #38A28C;
  }

  .news {
    grid-column: 13/19;
  }

  .about-us {
    grid-column: 8/12;
    grid-row: 2/7;
    font-size: 13px;
    gap: 10px;
  }

  .support {
    grid-column: 2/6 ;
    grid-row: 2/5;
    font-size: 13px;
    gap: 10px;
  }

  .social {
    grid-column: 2/12;
  }

  .social {
    flex-direction: row;
    gap: 10px;
    width: 20px; 
    height: 20px;
  }

  .apple , .netflix {
    gap: 10px;
    padding-top: 10px;
    width: 200px; 
    height: 200px;
    font-size: 12px;
  }

  .feature-card-mobile {
    display: block;
  }

  .feature-cards h3 {
    font-family: volkhov;
    color: black;
    font-size: 26px;
  }

  .feature-cards p {
    font-family: inter;
    color: black;
  }

  .home-img {
    display: none;
  }

  .home {
    display: none;
  }

  .about-add {
    display: none;
  }

  .feature-card {
    padding-bottom: 5rem;
  }
  
  
}
