
.login-section{
    width: 100%;
    height : 100vh;
    background-color:#C0D5CE;
    display: flex;
    justify-content: center;
    align-items:center;
}
.container-login{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color:#CBE3DB ;
    border-radius: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 1200px;
    height: 75vh;
}
 .logo{
    position:absolute;
    top :15px;
    left: 120px;
    z-index: 3;
 }  
.logo img{
    width: 150px;
    height: auto;
   pointer-events: none;
}  
.login-text-right{
    background-image: url(img/GbLoginText.png); 
    padding: 40px;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
   
 }
 .login-text-right h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 30px; 
 }
 .login-text-right P{
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    font-size: 20px; 
    text-align: center;

 }
 .form-login-box{
    display: flex;
    align-items:center;
    flex-direction: column;
    background-color: #CBE3DB;
    padding: 40px;
    border-radius: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
 .form-login-box h1{
    height: 60px; 
    color: black;
    font-family: 'poppins','sans serif';
    font-size: 30px; ;
    margin-bottom: 20px;
 }
 .form-login input[type="email"],.form-login input[type="password"]{
    width: 215px;
    padding: 10px;
    margin: 10px 100px;
    border-radius: 9px;
    border :none ;
    font-size: 16px;
 }
 .forget-pass{
    text-align: right;
    width: 100%;
    color:black;
    margin: 10px 90px;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3 ease;
    font-weight: bold;

}
.forget-pass:hover{
    color: #00ccff;
}

.login-button {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
    width: 100px;
    font-weight:500;
    margin-left: 150px;
}
.signup-text{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 40px;
}
.signup-text P{
    margin-top: 20px;
    color: black;
    font-size: 14px;
}

.signup-text a {
    color: white;
    background-color: black;
    height: 20px;
    padding: 10px ;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0,3s ease;
    margin-top: 15px;
}
.signup-text a:hover{
    background-color:green; 
}
/* css pour sign up  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #C0D5CE;
}

.signup-section {
    display: flex;
    height: 87vh;
    background-color: #C0D5CE ;
    padding-top: 50px;
   padding-left: 25px;
   padding-right: 25px;
}


/* Partie gauche (logo et texte) */
.signup-left {
    background-image: url(img/GbLoginText.png); 
    background-size: cover;
    background-position: center;
    width: 20%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-text2 {
    font-size: 24px;
    text-align:center;
    color: #333;
    font-weight: 600;
    padding-bottom :200px;
}

/* Partie droite (formulaire) */
.signup-right {
    width: 65%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}

.signup-right h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align:start;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    gap: 20px;
}

.form-group input {
    width: 80px;
    flex: 1;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-checkbox {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 14px;
    line-height: 1.5;
}

.form-checkbox input {
    margin-top: 5px;
}

.form-checkbox a {
    color:black;
    text-decoration: none;
}

.form-checkbox a:hover {
    text-decoration: underline;
}

.btn-register {
    background-color:#C0D5CE;
    color: black;
    text-align: center;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 140px; 
    height: 35px;
    margin-left: 280PX;
}

.btn-register:hover {
    background-color: #6d917c;
}
.logo2{
    position:absolute;
    top :40px;
    left: 35px;
    z-index: 3;
 }  
.logo2 img{
    width: 150px;
    height: auto;
}  
.burger1{
    display: none;
}
.burger2{
    display: none;
}
@media only screen and (max-width:412px){
    .container-login{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        height: 100vh;
        gap: 0;


    }
    .login-text-right{
        grid-column: 1/3;
        grid-row: 1/2;
        padding: 0;
        height: 105vh;
        width: 110vw;
        gap: 30px;
        background-size: cover;
    }
    .form-login-box{
        grid-column: 1/3;
        grid-row: 2/3;
        height: 100vh;
    }
    .logo{
        top :-30px;
        left: 0px;
        z-index: 3;
}
.signup-text a { 
    width: 100px;
}
  .burger1{
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   margin: 0;
}
@media only screen and (max-width:412px){
    .signup-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.signup-right {
    width: 100%;
    height: 1170px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}
.signup-left {
    background-image: url(img/GbLoginText.png); 
    background-size: cover;
    background-position: center;
    width: 800px;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-group input {
    width: 300px;
    flex: 1;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-checkbox {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    font-size: 20px;
    line-height: 1.5;
    width: 300px;
}
.signup-section {
    display:flex;
    height: 100vh;
    width: 100%;
    background-color: #C0D5CE ;
    padding-top: 0;
} 
.btn-register {
    margin-left: 100px;
}
.burger2{
    display: block;
    position: absolute;
    top: 0;
    padding-left: 300px;
 }